<!DOCTYPE html><html lang="uk"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><style>{% include "css/styles.css" %}</style><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>{{ item.title }}</title><meta property="og:title" content="{{ item.title }}"><meta property="og:type" content="{{ item.description }}"><meta property="og:url" content="{{ item.path }}"><link rel="icon" href="/img/favicon.png"><link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"><link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"><link rel="manifest" href="/img/manifest.json"></head>
<body><div class="container"><header><a href="/" class="logo"><svg width="23" height="22" viewBox="0 0 23 22" xmlns="http://www.w3.org/2000/svg"><title>Group 5</title><desc>Created with Sketch.</desc><g fill="none"><path stroke="#4A4A4A" stroke-width="3" d="M1.5 1.5h20v19h-20z"/><path fill="#4A4A4A" d="M16.677 7.285h-3.384v10.512h-2.971v-10.512h-3.322v-2.285h9.677z"/></g></svg></a></header></div><div class="container">{{ content | safe }}</div><footer><div class="container">© 2019  sector.space</div></footer></body></html>
